@inherits Components.Editor.Components.EditorComponent
<div class="row">
    <div class="col">
        <div id="@Model.Id" style="width:@(Model.Width)px;height:@(Model.Height)px;border:1px solid grey"></div>
    </div>
</div>