@inherits EditorComponent
<div class="row">
    <div class="col">
        <div id="@EditorModel.Id" style="width:@(EditorModel.Width)px;height:@(EditorModel.Height)px;border:1px solid grey"></div>
    </div>
</div>